
  @import 'tailwindcss';

  

@theme {
  --font-sansation: "Sansation", sans-serif;
  --font-poppins: "Poppins", sans-serif;
    --font-segoe: "Segoe UI", sans-serif;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #d4d4d4;
  scroll-behavior: smooth; 
  /* esqueci q essas configs são no body e não no root XD */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}


@theme{
--color-isabelline: rgb(235, 235, 235);
--color-cerulean: rgb(23, 81, 114);
--color-cool-grey: rgb(184, 158, 158);
--text-grey: rgb(93, 97, 107);
--color-night: #131313ff;
--color-blue-ncs: #3C8DBCff;
--color-light-blue: rgb(128, 190, 226);
}